<div class="title-componente">Orders</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashbord</li>
    <li class="breadcrumb-item active" aria-current="page">Orders</li>
  </ol>
</nav>
<div class="divider"></div>

<div class="ct-table">
    <div class="container ct-action">
      <div class="row">
        <div class="col-8">

          <form class="form-seacher">
            <input class="form-control input-seacher" placeholder="Pesquisar..."   (keyup)="pesquisar($event.target)"/>
            <button type="button" class="btn btn-primary" (click)="listarOrders()"><i class="fa fa-refresh"></i></button>
          </form>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-primary" (click)="directNovaOrder()"><i class="fa fa-plus-circle ico"></i>Novo</button>
        </div>
      </div>
    </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Total Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOrders;let i = index;">
        <th scope="row">{{item.id}}</th>
        <th>R$ {{util.ajustarValor(item.totalPrice)}}</th>
        <th>
          <button type="button" class="btn-info" (click)="directEditarOrder(item.id)"><i class="fa fa-edit ico"></i>Editar</button>
          <button type="button" class="btn-danger" (click)="excluirOrder(item.id)"><i class="fa fa-trash ico"></i>Excluir</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
